.button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 1em;
    color: #ff3e00;
    background-color: rgba(255, 62, 0, 0.1);
    border-radius: 2em;
    border: 2px solid rgba(255, 62, 0, 0);
    outline: none;
    width: 100px;
    font-variant-numeric: tabular-nums;

    &:focus {
      border: 2px solid #ff3e00;
    }

    &:active {
      background-color: rgba(255, 62, 0, 0.2);
    }
}